.bg-image {
  background-image: url(../image/image001.jpg);
  object-fit: cover;
  width: 100%;
  height: calc(100vh - 30vh);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.booking-card-customer {
  top: -80px;
  z-index: 10;
  margin-bottom: -80px;
  overflow: inherit;
  background-color: transparent;
  position: relative;
}

.booking-card-container {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #eee;
  min-height: 160px;
  padding: 30px;
  position: relative;
  z-index: 9999 !important;
  margin-right: auto;
  margin-left: auto;
}
.homepage-bg {
  background: url(../image/homepage.jpg);
  -webkit-background: url(../image/homepage.jpg);
  -moz-background: url(../image/homepage.jpg);
  -ms-background: url(../image/homepage.jpg);
  -o-background: url(../image/homepage.jpg);
  /* height: calc(100vh - 10vh); */
  height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  object-fit: cover;
  background-position: center;
  position: relative;
  /* To remove parallax effect  background attachment */
  background-attachment: fixed;
}

.menu-btn__burger {
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  /* content: ''; */
  position: absolute;
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  /* box-shadow: 0 2px 5px rgba(255,101,47,.2); */
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-16px);
}
.menu-btn__burger::after {
  transform: translateY(16px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
@media (max-width: 991px) {
  .menu-open {
    overflow-y: scroll !important;
  }
}

nav ul .active {
  color: #64a9a6 !important;
}

/* planning*/

.section-title {
  /* display: flex; */
  flex-wrap: wrap;
  margin-bottom: 98px;
}

.process-section ul {
  float: left;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul {
  list-style: none;
}
.process-section ul li:nth-child(1) .proz-mint,
.process-section ul li:nth-child(2) .proz-mint,
.process-section ul li:nth-child(3) .proz-mint {
  border-bottom: 2px solid #bdbdc0;
}

.process-section ul li {
  float: left;
  width: calc(100% / 3);
}

.proz-mint {
  width: 100%;
  border-left: 2px solid #bdbdc0;
  padding: 40px 38px 49px;
  position: relative;
}

@media (max-width: 1200px) {
  .p-num {
    right: 10px;
  }
}
.p-num {
  position: absolute;
  bottom: 45px;
  right: 36px;
  font-size: 26px;
  font-weight: 700;
  color: #64a9a6;
}

.process-section ul li:nth-child(1) .proz-mint:after,
.process-section ul li:nth-child(2) .proz-mint:after,
.process-section ul li:nth-child(3) .proz-mint:after {
  bottom: -13px;
  top: auto;
}

.proz-mint:after {
  content: "";
  position: absolute;
  top: -13px;
  left: -13px;
  width: 24px;
  height: 24px;
  border: 2px solid;
  background: #fff;
  z-index: 9;
}

.proz-mint:after {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.process-section ul li:nth-child(1) .proz-mint:before,
.process-section ul li:nth-child(2) .proz-mint:before,
.process-section ul li:nth-child(3) .proz-mint:before {
  top: 0;
  bottom: auto;
}

.proz-mint:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 21px;
  height: 2px;
  background-color: #bdbdc0;
}
.clearfix {
  clear: both;
}

.section-title .lnk-default2 {
  margin-left: auto;
  height: 28px;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 1200px) {
  .lnk-default2 {
    font-size: 15px;
  }
}
.lnk-default2 {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 4px;
  position: relative;
  margin-left: 36px;
  font-family: "Montserrat", sans-serif;
}
.sub-title {
  color: #070c1f;
  font-size: 40px;
  font-weight: 700;
  position: relative;
  padding-left: 86px;
  margin-bottom: 61px;
  margin-top: -12px;
}

@media (max-width: 1366px) {
  .block {
    padding: 60px 0;
  }
}

.block {
  padding: 80px 50px;
}

@media (min-width: 992px) {
  .block .container {
    max-width: 960px;
  }
}
@media (min-width: 768px) {
  .block .container {
    max-width: 720px;
  }
}
@media (min-width: 576px) {
  .block .container {
    max-width: 540px;
  }
}
.block .container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}
.block .container {
  max-width: 1430px;
  padding: 0 15px;
}

@media (max-width: 1200px) {
  .section-title .sub-title {
    max-width: 50%;
  }
}
.section-title .sub-title {
  max-width: 600px;
  margin-bottom: 0;
}
.sub-title {
  color: #070c1f;
  font-size: 40px;
  font-weight: 700;
  position: relative;
  padding-left: 86px;
  margin-bottom: 61px;
  margin-top: -12px;
}
.sub-title:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 56px;
  height: 2px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.lnk-default2 i {
  position: absolute;
  top: 50%;
  right: 100%;
  margin-right: 20px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.proz-mint > p {
  color: #070c1f;
  font-size: 13px;
  line-height: 21px;
  max-width: 210px;
  font-weight: 500;
}
.proz-mint > h3 {
  color: #070c1f;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  max-width: 210px;
}
@media (max-width: 991px) {
  .proz-mint {
    padding: 40px 50px 49px 26px;
  }
}
@media (max-width: 768px) {
  .process-section ul li {
    width: calc(100% / 2);
  }
}
@media (max-width: 768px) {
  .process-section ul {
    justify-content: inherit;
  }
}

@media (max-width: 480px) {
  .process-section ul li {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .sub-title {
    font-size: 26px;
    line-height: 35px;
  }
}

@media (max-width: 576px) {
  .sub-title {
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  .sub-title {
    font-size: 34px;
    line-height: 45px;
  }
}
@media (max-width: 991px) {
  .sub-title {
    font-size: 32px;
  }
}

@media (max-width: 576px) {
  .section-title .lnk-default2 {
    display: none;
  }
}

@media (max-width: 480px) {
  .lnk-default2 {
    font-size: 16px;
  }
}

@media (max-width: 1200px) {
  .lnk-default2 {
    font-size: 15px;
  }
}

.section-padding {
  padding: 60px 0;
}

.bg-gray {
  background-color: #f8f4f3;
}
.section-head {
  position: relative;
  margin: 0 auto 40px;
}
.section-head h6 {
  color: #64a9a6;
  font-weight: 300;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 10px;
  visibility: visible;
  animation-delay: 0.3s;
  animation-name: fadeInDown;
}

.custom-font {
  font-weight: 400;
}

.section-head h4 {
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 2px;
}
.playfont {
  font-family: "Playfair Display", serif;
}
.flipInX {
  -webkit-backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  -moz-backface-visibility: visible !important;
  -moz-animation-name: flipInX;
  -o-backface-visibility: visible !important;
  -o-animation-name: flipInX;
  backface-visibility: visible !important;
  animation-name: flipInX;
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
.services .item-bx.bg-img {
  position: relative;
  border: 0;
  z-index: 2;
  background-image: url(../image/service1.jpg);
}

.services .item-bx.bg-img.two {
  position: relative;
  border: 0;
  z-index: 2;
  background-image: url(../image/service-interior.jpg) !important;
}
.services .item-bx.bg-img.three {
  position: relative;
  border: 0;
  z-index: 2;
  background-image: url(../image/service2.jpg) !important;
}

.services .item-bx:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}

.services .item-bx:hover p {
  color: #eee;
}

.services .item-bx:hover h6:not(:last-child) {
  color: #fff;
}

.services .item-bx.bg-img:hover:after {
  background: rgba(0, 0, 0, 0.6);
}

.services .item-bx:last-of-type {
  border-bottom: 1px solid #f8f4f3;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.services .item-bx {
  padding: 60px 40px;
  height: 100%;
  background-color: #fff;
  border: 1px solid #eee;
  border-right: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
}

.services .item-bx.bg-img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  z-index: -1;
}
#mouse_icon {
  position: relative;
  width: 25px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 50px;
}

#mouse_icon::after {
  position: absolute;
  top: 1px;
  width: 4px;
  height: 8px;
  content: "";
  background-color: #fff;
  transform: translateX(-50%);
  left: calc(50% - 0.5px);
  border-radius: 10px;
  animation: mouse 1s infinite;
}

@keyframes mouse {
  0% {
    opacity: 1;
    top: 5px;
  }
  100% {
    opacity: 0;
    top: 10px;
  }
}

.about-us-section {
  display: flex;
  text-align: center;
  justify-content: center;
}

/* blog css */
.section-title {
  margin: auto;
  position: relative;
  margin-bottom: 50px;
  text-align: center;
}
.section-title span {
  position: absolute;
  color: #64a9a6;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  font-size: 10px;
  font-weight: 800;
  letter-spacing: 3px;
  text-transform: uppercase;
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
  padding: 0 1rem;
}

.section-title h3 {
  position: relative;
  display: inline-block;
  color: #383838;
  font-size: 3rem;
  font-weight: 800;
  margin-left: 0px;
  padding-bottom: 2rem;
}

.section-title h3::before {
  content: "";
  position: absolute;
  left: 10%;
  bottom: -4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #64a9a6;
  z-index: 1;
}

.section-title h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #f1f1f1;
}

.blog .block-blog {
  background-color: #fafafa;
  border-radius: 8px !important;
  padding: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  cursor: pointer;
}
.blog .block-blog .blog-img {
  position: relative;
  overflow: hidden;
}
.blog .block-blog .blog-img img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  width: 100%;
  height: 100%;
}
.blog .block-blog .blog-img .sec {
  position: absolute;
  right: -45px;
  top: 20px;
  width: 200px;
  text-align: center;
  background-color: #fff;
  border-radius: 4px;
  padding: 0.2rem 0;
  color: #64a9a6;
  font-weight: 600;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.blog .block-blog .blog-img .sec h6 {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 0.3em;
  color: #64a9a6;
}
.blog .block-blog .blog-content {
  padding: 2rem;
}
/* .blog .block-blog .blog-content h3 { */
/* font-size: 2rem; */
/* } */
.blog .block-blog .blog-footer {
  border-top: 1px solid #f1f1f1;
  padding: 1rem 2rem;
}
.blog .block-blog .blog-footer h5 {
  display: inline-block;
}
.blog .block-blog .blog-footer h6 {
  display: inline-block;
  padding: 0 1rem;
  font-size: 14px;
}
.blog .block-blog .blog-footer h6 span {
  color: #000;
}
.blog .block-blog:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.blog .defr {
  position: relative;
  /* background: url("../img/blog/blog2.jpg"); */
  border-radius: 8px;
}
.blog .defr img {
  opacity: 0;
}
.blog .defr .blog-content {
  position: relative;
}
.blog .defr .blog-content h3 {
  color: #fff;
}
.blog .defr .blog-content p {
  color: #fff;
}
.blog .defr .blog-footer {
  position: relative;
  color: #fff;
}
.blog .defr .blog-footer h6 span {
  color: #fff;
}
.blog .slick-dots li button::before {
  /* font-size: 2rem !important; */
  padding: 30px !important;
}

.home-blog-padding {
  padding: 0px 15px;
}

.overlay::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}

.blog .defr {
  background-size: cover;
  background-repeat: no-repeat;
}

section.secondary {
  background-color: #f8f4f3;
}
.page-heading {
  background: #f5f5f5;
  padding: 30px 0;
  -webkit-box-shadow: 0 11px 4px -10px rgba(0, 0, 0, 0.05) inset;
  -moz-box-shadow: 0 11px 4px -10px rgba(0, 0, 0, 0.05) inset;
  box-shadow: 0 11px 4px -10px rgba(0, 0, 0, 0.05) inset;
}
.page-heading h1 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .page-heading {
    text-align: center;
  }
}

@media (max-width: 991px) {
  .bread-crumb {
    text-align: center !important;
  }
}
.bread-crumb {
  text-align: right;
  padding: 7px 0;
  margin-bottom: 0;
}

.bread-crumb li,
.bread-crumb li a {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 13px;
  color: #999;
  line-height: 20px;
}

.bread-crumb li {
  display: inline-block;
  margin-left: 3px;
}

.widget {
  color: #333 !important;
}

.widget {
  position: relative;
  margin-bottom: 40px;
}

.widget-title {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 30px;
}
.widget .widget-title:after {
  display: block;
  content: "";
  background: #64a9a6;
  height: 2px;
  width: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.sidebar .vertical-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.widget ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar .vertical-menu ul li {
  display: block;
  padding: 15px 20px 15px 0;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 0;
}
.sidebar .vertical-menu ul li a {
  font-weight: 600;
}

.sidebar .vertical-menu ul li a {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: #727272;
}
.widget a,
.footer-widget a {
  text-decoration: none;
  color: #727272;
}

.sidebar .vertical-menu ul li a i {
  float: right;
  font-size: 16px;
  color: #aaa;
}

.widget a,
.footer-widget a {
  text-decoration: none;
  color: #727272;
}

.button-brochures {
  font-weight: 600;
}
.button-brochures {
  width: 100%;
  display: block;
  border: 1px solid #e9e9e9;
  margin-bottom: 8px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #727272;
  padding: 14px 25px;
}

.button-brochures i {
  margin-right: 15px;
  font-size: 15px;
  vertical-align: middle;
}

@media (min-width: 1200px) {
  .service.container {
    max-width: 1170px !important;
  }
}

.services-wrapp .services-post {
  margin-bottom: 40px;
}

.services-wrapp .services-post img {
  width: 100%;
}

.services-wrapp .services-post h4 {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.services-wrapp h4 {
  font-weight: 650;
  font-family: "Montserrat", sans-serif;
}
.services-wrapp p {
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 26px;
  margin: 0 0 15px;
  padding: 0;
}
.services-wrapp .services-post {
  margin-bottom: 40px;
}

.services-wrapp .services-post h4 {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.services-wrapp h4 {
  font-weight: 650;
  font-family: "Montserrat", sans-serif;
}

.services-wrapp .services-post img {
  width: 100%;
}
dl {
  margin-top: 0;
  margin-bottom: 20px;
}

.accordion > dt {
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 400;
  text-transform: capitalize;
}

dt {
  font-weight: bold;
}
dt,
dd {
  line-height: 1.42857143;
}
.accordion > dt > a.active {
  border-color: #ddd;
  background-color: #fff;
  cursor: default;
}

.accordion > dt > a {
  display: block;
  position: relative;
  color: #777;
  text-decoration: none;
  padding: 14px 20px;
  border: 1px solid #e2e6e7;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 600;
  transition: padding-left 300ms, padding-right 300ms;
  -webkit-transition: padding-left 300ms, padding-right 300ms;
  -moz-transition: padding-left 300ms, padding-right 300ms;
  transition-timing-function: ease;
  -webkittransition-timing-function: ease;
  -mozkittransition-timing-function: ease;
}

.accordion > dt > a.active:after,
.accordion > dt > a.active:hover:after {
  content: "\e6ea";
  color: #111;
}

.accordion > dt > a:after {
  content: "\e6eb";
  width: 15px;
  height: 15px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
  right: 10px;
  font-family: "font-awesome";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  color: #999;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  -ms-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
}

.accordion > dd {
  margin-bottom: 10px;
  padding: 20px;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: rgba(35, 37, 40, 0.7);
  font-family: "PT Sans";
  font-size: 14px;
}
.accordion-content {
  margin-bottom: 10px;
  padding: 20px;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: rgba(35, 37, 40, 0.7);
  font-family: "PT Sans";
  font-size: 14px;
}
dd {
  margin-left: 0;
}
.bootstrap-accordian-style .accordian-header {
  display: block;
  position: relative;
  padding: 14px 20px;
  border: 1px solid #e2e6e7;
  text-transform: capitalize;
  transition: padding-left 300ms, padding-right 300ms;
  -webkit-transition: padding-left 300ms, padding-right 300ms;
  -moz-transition: padding-left 300ms, padding-right 300ms;
  transition-timing-function: ease;
  -webkittransition-timing-function: ease;
  -mozkittransition-timing-function: ease;
}
.accordian-header-title {
  color: #777;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

.accordian-header:hover {
  padding-left: 35px !important;
}
.accordian-header:hover.active .accordian-arrow,
.accordian-header.active .accordian-arrow {
  transform: rotate(90deg) !important;
}
.bootstrap-accordian-style {
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 400;
  text-transform: capitalize;
}

.accordian-sidebar .accordian-header {
  display: block;
  padding: 15px 20px 15px 0;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 0;
  transition: padding-left 300ms, padding-right 300ms;
  -webkit-transition: padding-left 300ms, padding-right 300ms;
  -moz-transition: padding-left 300ms, padding-right 300ms;
  transition-timing-function: ease;
  -webkittransition-timing-function: ease;
  -mozkittransition-timing-function: ease;
}
.accordian-header-title:hover {
  color: #64a9a6 !important;
}

.galleryimage {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 60%;
  height: 100%;
  vertical-align: bottom;
  background: url(../images/loading2.gif) no-repeat scroll center center
    transparent !important;
}

.gallerycontent {
  float: right;
  width: 40%;
  padding: 40px;
  position: relative;
}
.gallerycontainer h4 {
  margin-bottom: 30px;
}
.gallerycontainer p {
  margin-bottom: 35px;
}

.readmore-button {
  color: #1b1b1b;
  font-weight: 600;
}
.readmore-button {
  word-spacing: 0.1em;
  letter-spacing: 0.01em;
  padding: 10px 0px;
  line-height: 1;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  display: inline-block;
  outline: none !important;
}
.gallerycontainer {
  background-color: #f5f1f0;
}

.gallerycontainer {
  position: relative;
  width: 100%;
  height: auto;
  display: inline-block;
  margin: 0px 0px 40px 0px;
  padding: 0;
  vertical-align: bottom;
}

.galleryimage.projectimage a {
  background-image: url(../images/link.png);
}

.galleryimage a {
  background-color: #da2f10;
}
.galleryimage a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100.1%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../images/zoom.png);
  vertical-align: bottom;
}

@media only screen and (max-width: 640px) {
  .blogimage,
  .galleryimage {
    height: 200px;
  }
}

@media only screen and (max-width: 768px) {
  .blogimage,
  .galleryimage {
    position: relative !important;
    width: 100%;
    height: 250px;
  }
}

.col-md-6.gallerycontent {
  padding: 40px !important;
}

.portfolio-filter {
  margin-bottom: 50px;
  text-align: center;
}
.portfolio-filter.filter-2 > ul > li {
  position: relative;
  padding: 0;
  margin: 0 15px;
  font-size: 15px;
  cursor: pointer;
}

.portfolio-filter > ul > li {
  display: inline-block;
}
.portfolio-filter ul > li {
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  margin-bottom: 15px;
}
.portfolio-filter > ul > li {
  display: inline-block;
}

.portfolio-filter.filter-2 a.portfolio-filter-item {
  margin-right: 0;
  line-height: 36px;
}
.portfolio-filter a.portfolio-filter-item {
  margin-right: 12px;
}

.portfolio-filter.filter-2 li a:after {
  background-color: #a58353;
}

.portfolio-filter.filter-2 li a:hover:after,
.portfolio-filter.filter-2 li.active a:after {
  width: 10px;
}
.portfolio-filter.filter-2 li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  top: 50%;
  transform: translateY(-50%);
  left: -15px;
  width: 0;
  height: 10px;
  background-color: #64a9a6;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.portfolio-filter.filter-2 .active a.portfolio-filter-item {
  color: #64a9a6 !important;
}

.grid-layout .isotope > article.grid-visible,
.grid-layout.grid-normal .grid-parent > article.grid-visible,
.post-pagination-wrap.pagination-visible {
  opacity: 1;
  visibility: visible;
}

.grid-layout .isotope > article,
.grid-layout.grid-normal .grid-parent > article,
.post-pagination-wrap {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity ease 0.35s;
  -moz-transition: opacity ease 0.35s;
  transition: opacity ease 0.35s;
}

.shortcode-rand-6 .portfolio-wrap {
  color: #000000;
}

.portfolio-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-img.portfolio-overlay-wrap {
  position: relative;
}

.portfolio-wrap .portfolio-img {
  position: relative;
  overflow: hidden;
}

.portfolio-creative .portfolio-overlay-wrap:before {
  content: "";
  transition: all 150ms ease-in-out 200ms;
  position: absolute;
  width: 100%;
  bottom: 0;
  top: auto;
  height: 50%;
  background: rgba(255, 255, 255, 0.95);
  right: -100%;
  left: auto;
}

.portfolio-overlay-wrap:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
  z-index: 1;
  bottom: 0;
  transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  background: rgba(0, 0, 0, 0.98);
}

.portfolio-wrap .overlay-top-right {
  right: 0;
  top: 0;
  text-align: right;
}

.portfolio-wrap .portfolio-overlay {
  position: absolute;
  padding: 20px;
}
.portfolio-overlay {
  opacity: 0;
  z-index: 1;
}

.shortcode-rand-6 .portfolio-wrap a {
  color: #000000;
}

.portfolio-wrapper img {
  width: 100%;
}

.portfolio-creative .portfolio-overlay-wrap:after {
  content: "";
  transition: all 150ms ease-in-out 200ms;
  position: absolute;
  background: rgba(255, 255, 255, 0.95);
  top: 0;
  height: 50%;
  width: 100%;
  left: -100%;
}

.portfolio-creative .portfolio-wrap:hover .portfolio-overlay-wrap:before {
  right: 0;
  opacity: 1;
  width: 100%;
  height: 50%;
  transition: all 0.8s;
}

.portfolio-wrap:hover .portfolio-overlay-wrap:before {
  opacity: 1;
}

.portfolio-wrap:hover .portfolio-overlay {
  opacity: 1;
  transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.portfolio-creative
  .portfolio-wrap:hover
  .portfolio-overlay
  > *:nth-child(odd):before {
  right: -100%;
}

.portfolio-creative .portfolio-wrap .portfolio-overlay > * {
  position: relative;
  overflow: hidden;
}

.portfolio-wrap .portfolio-overlay > * {
  margin-bottom: 5px;
}
.portfolio-title,
.services-title {
  z-index: 1;
}

.portfolio-wrap:hover .portfolio-overlay-wrap:before {
  opacity: 1;
}

.portfolio-creative .portfolio-overlay-wrap:before {
  content: "";
  transition: all 150ms ease-in-out 200ms;
  position: absolute;
  width: 100%;
  bottom: 0;
  top: auto;
  height: 50%;
  background: rgba(255, 255, 255, 0.95);
  right: -100%;
  left: auto;
}

.portfolio-creative .portfolio-wrap:hover .portfolio-overlay-wrap:after {
  left: 0;
  opacity: 1;
  transition: all 0.8s;
}
.portfolio-creative .portfolio-overlay-wrap:after {
  content: "";
  transition: all 150ms ease-in-out 200ms;
  position: absolute;
  background: rgba(255, 255, 255, 0.95);
  top: 0;
  height: 50%;
  width: 100%;
  left: -100%;
}

.portfolio-creative
  .portfolio-wrap:hover
  .portfolio-overlay
  > *:nth-child(odd):before {
  right: -100%;
}
.portfolio-creative .portfolio-overlay > *:nth-child(odd):before {
  content: "";
  background: #000;
  width: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
  transition: right 600ms ease-in-out 0s;
  right: 100%;
}

.portfolio-creative .portfolio-overlay > *:nth-child(odd):before {
  content: "";
  background: #000;
  width: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
  transition: right 600ms ease-in-out 0s;
  right: 100%;
}

.portfolio-creative .portfolio-overlay > *:nth-child(even):before {
  content: "";
  background: #000;
  position: absolute;
  width: 100%;
  bottom: 0;
  transition: left 600ms ease-in-out 0s;
  left: 100%;
  top: 0;
  right: auto;
}

.portfolio-creative
  .portfolio-wrap:hover
  .portfolio-overlay
  > *:nth-child(even):before {
  left: -100%;
}

article#a,
article#b,
article#c {
  position: relative !important;
}

.styles_isotope-container__3X0JH {
  display: flex;
}
.product-block ul {
  margin-bottom: 0px;
  list-style: none;
}

.product-block ul li {
  margin-bottom: 5px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}
.project-detail-containt p {
  text-align: justify;
  margin-bottom: 10px;
}

.modal-90vw {
  min-width: 95vw !important;
}
.slick-thumb li {
  width: 60px !important;
  height: 45px !important;
}

.slick-thumb {
  bottom: -50px !important;
}

.slick-dots {
  margin-left: 0;
}

@media (min-width: 768px) {
  .service.container,
  .service .container-md,
  .service .container-sm {
    max-width: 840px !important;
  }
}
/* page loading */

.page-loading {
  background-color: #fff;
  content: "";
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999999999;
}
.thecube {
  width: 75px;
  height: 75px;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
.thecube .cube {
  position: relative;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
.thecube .cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.thecube .cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: foldthecube 2.4s infinite linear both;
  -moz-animation: foldthecube 2.4s infinite linear both;
  -ms-animation: foldthecube 2.4s infinite linear both;
  -o-animation: foldthecube 2.4s infinite linear both;
  animation: foldthecube 2.4s infinite linear both;

  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.thecube .c2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  -moz-transform: scale(1.1) rotateZ(90deg);
  -ms-transform: scale(1.1) rotateZ(90deg);
  -o-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}
.thecube .c3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  -moz-transform: scale(1.1) rotateZ(180deg);
  -ms-transform: scale(1.1) rotateZ(180deg);
  -o-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}
.thecube .c4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  -moz-transform: scale(1.1) rotateZ(270deg);
  -ms-transform: scale(1.1) rotateZ(270deg);
  -o-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}
.thecube .c2:before {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.thecube .c3:before {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -ms-animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.thecube .c4:before {
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  -ms-animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
@-webkit-keyframes foldthecube {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    -moz-transform: perspective(140px) rotateX(-180deg);
    -ms-transform: perspective(140px) rotateX(-180deg);
    -o-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    -moz-transform: perspective(140px) rotateX(0deg);
    -ms-transform: perspective(140px) rotateX(0deg);
    -o-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    -moz-transform: perspective(140px) rotateY(180deg);
    -ms-transform: perspective(140px) rotateY(180deg);
    -o-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
@keyframes foldthecube {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    -moz-transform: perspective(140px) rotateX(-180deg);
    -ms-transform: perspective(140px) rotateX(-180deg);
    -o-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    -moz-transform: perspective(140px) rotateX(0deg);
    -ms-transform: perspective(140px) rotateX(0deg);
    -o-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    -moz-transform: perspective(140px) rotateY(180deg);
    -ms-transform: perspective(140px) rotateY(180deg);
    -o-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

.page-loading > .thecube {
  left: 50%;
  margin-left: -30px;
  margin-top: -70px;
  position: absolute;
  top: 50%;
}

.thecube .cube:before {
  background-color: #64a9a6;
}

.main-footer.dark {
  background: #252531;
  color: #fff;
}

.main-footer {
  padding: 100px 0 0;
}

@media screen and (max-width: 991px) {
  footer .item {
    margin-bottom: 30px;
  }
}
.main-footer .abot p {
  font-size: 13px;
}

.main-footer .abot .social-icon {
  margin-top: 20px;
}

.main-footer .abot .social-icon a {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 13px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-right: 3px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  padding: 12px;
  cursor: pointer;
}

.main-footer .abot .social-icon a:hover {
  border-color: #64a9a6 !important;
}

.main-footer .abot .social-icon a:hover i {
  color: #64a9a6 !important;
}

.main-footer .fothead h6 {
  color: #64a9a6;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.main-footer .usful-links ul {
  margin: 0;
}

.main-footer .usful-links ul li {
  font-size: 13px;
  margin-bottom: 10px;
}

.main-footer .usful-links ul li a {
  color: #777 !important;
  font-size: 13px;
}

.main-footer .fotcont p {
  font-size: 13px;
}

.main-footer .sub-footer {
  padding: 30px 0;
  margin-top: 50px;
  border-top: 1px solid rgba(255, 255, 255, 0.02);
}

@media screen and (max-width: 991px) {
  footer .sub-footer {
    margin-top: 20px;
  }
}

@media screen and (max-width: 991px) {
  footer .sub-footer .text-left,
  footer .sub-footer .text-right {
    text-align: center !important;
  }
}

.main-footer .sub-footer p {
  font-size: 13px;
}

.main-footer .sub-footer p {
  font-size: 13px;
}
@media (min-width: 962px) {
  .service.container,
  .service .container-md,
  .service .container-sm {
    max-width: 1200px !important;
  }
}

#gallery .item {
  overflow: hidden;
}

.grid_gallery .item {
  margin-bottom: 30px;
}
.picframe {
  position: relative;
  overflow: hidden;
}

.de-gallery .overlay {
  text-align: center;
}

span.overlay {
  text-align: center;
  display: block;
  width: 100px;
  background: #111;
  position: absolute;
  z-index: 1;
}

.overlay .pf_text {
  display: inline-block;
}

.picframe {
  color: #64a9a6;
}
.project-name {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.project-name {
  font-size: 12px;
  font-weight: bold;
  display: block;
}

.picframe img {
  width: 100%;
}

.item img {
  width: 100%;
  height: auto;
}
.picframe img {
  -o-transition: 1s;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s;
  outline: none;
}

a,
a:hover,
.test-column,
.test-column:hover {
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.picframe:hover img {
  transform: scale(1.3);
}

.portfolio {
  border-bottom: 1px solid #f1f1f1;
}
.portfolio .filtering button {
  background-color: inherit;
  position: relative;
  padding: 4px 15px;
  margin-left: 1rem;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
  color: #111;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.portfolio .filtering button:hover {
  color: #08d9d6;
}
.portfolio .filtering .active {
  background-color: #08d9d6;
  color: #fff;
  border-radius: 10rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.portfolio .gallery {
  margin: 0;
  padding: 0;
}
.portfolio .gallery .item-img {
  padding: 0;
  margin: 0;
}
.portfolio .gallery .item-img img {
  border: 1px solid #fafafa;
  border-radius: 4px;
}
.portfolio .gallery .item-img .item-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  background: -webkit-linear-gradient(-60deg, #08d9d6 0%, #2cc2ef 100%);
  border: 1px solid #f7f7f7;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff;
  z-index: 1;
}
.portfolio .gallery .item-img .item-img-overlay:after {
  content: "";
  position: absolute;
  top: 0;
  left: 170%;
  width: 100%;
  height: 100%;
  border: 1px solid #08d9d6;
  background: rgba(0, 0, 0, 0.1);
  -webkit-transform: skewX(45deg);
  transform: skewX(45deg);
  -webkit-transition: all 1s;
  transition: all 1s;
}
.portfolio .gallery .item-img .item-img-overlay:hover:after {
  top: 0;
  left: -170%;
}
.portfolio .gallery .item-img .item-img-overlay:hover {
  opacity: 1;
}
.portfolio .gallery .item-img .item-img-overlay .icon a {
  position: absolute;
  right: 5%;
  top: 50%;
  margin: 1rem;
  font-size: 2rem;
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.portfolio .gallery .item-img .item-img-overlay .icon a:hover {
  color: #ddd;
}
.portfolio .gallery .item-img .item-img-overlay .cap {
  position: absolute;
  left: 5%;
  bottom: 50%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.portfolio .gallery .item-img .item-img-overlay h4 {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 20px;
}
.portfolio .gallery .item-img .item-img-overlay:hover .cap {
  bottom: 5%;
}
.portfolio .gallery .item-img .item-img-overlay:hover .icon a {
  top: 5%;
}

@media screen and (min-width: 1199px) {
  .blog-section .news-item.news-item-sm.mb,
  .blog-section .news-item {
    margin-bottom: 2.5rem;
  }
}

.slick-prev:before,
.slick-next:before {
  color: #000 !important;
}
/* @media screen and (max-height: 600px) {
  .contact-main-form {
    display: none;
  }
  .homepage-text-content {
    display: flex !important;
  }
} */
@media screen and (max-width: 550px) {
  .contact-main-form {
    display: none;
  }
  .homepage-text-content {
    display: flex !important;
  }
}
/* @media screen and (min-height: 600px) {
  .homepage-text-content {
    display: none !important;
  }
}  */
/* @media screen and (min-width: 550px) {
  .homepage-text-content {
    display: none !important;
  }
} */
.scrollTop {
  position: fixed;
  width: 40px;
  bottom: 20px;
  right: 6px;
  align-items: center;
  height: 20px;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
  border-radius: 100%;
  border: 1px solid #64a9a6;
  color: #64a9a6;
}

.scrollTop:hover {
  opacity: 1;
  background-color:  #64a9a6;
  color: #f1f1f1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
